<div class="header-project">
  <h1>Portfolio</h1>
  <% image_tag "github" , width: 70, height: 70 %>
</div>

<div class="project-grid">

  <div class="wrap-notif">

      <div class="notification">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
        <div class="notification-content">
          <p><small>14th January</small></p>
          <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
        </div>
        <div class="notification-actions">
          <a href="#">Edit <i class="fas fa-arrow-circle-right"></i></a>

        </div>
      </div>

      <div class="notification notif-active">
        <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
        <div class="notification-content">
          <p><small>9th January</small></p>
          <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
        </div>
        <div class="notification-actions">
          <a href="#">Selected <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="notification">
        <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
        <div class="notification-content">
          <p><small>9th January</small></p>
          <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
        </div>
        <div class="notification-actions">
          <a href="#">Edit <i class="fas fa-arrow-circle-right"></i></a>

        </div>
      </div>

      <div class="notification">
        <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
        <div class="notification-content">
          <p><small>9th January</small></p>
          <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
        </div>
        <div class="notification-actions">
          <a href="#">Edit <i class="fas fa-arrow-circle-right"></i></a>

        </div>
      </div>

      <div class="notification">
        <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
        <div class="notification-content">
          <p><small>9th January</small></p>
          <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
        </div>
        <div class="notification-actions">
          <a href="#">Edit <i class="fas fa-arrow-circle-right"></i></a>

        </div>
      </div>

      <div class="notification">
        <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
        <div class="notification-content">
          <p><small>9th January</small></p>
          <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
        </div>
        <div class="notification-actions">
          <a href="#">Edit <i class="fas fa-arrow-circle-right"></i></a>

        </div>
      </div>

  </div>



  <div class="project-cart">
    <div class="project-wrap-content">
      <h2>Project n°1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      </p>
      <div class="project-cart-footer">
        <ul>
          <li><i class="far fa-comment"><span>33</span></i></li>
          <li><i class="far fa-heart"><span>11</span></i></li>
        </ul>
        <%= link_to "Read more" %>
      </div>
    </div>
    <%= image_tag "code" , width: 400, height: 400 %>
  </div>

</div>

<div class="project-title-position">
  <h2 class="project-title">Conseption</h2>
</div>
<div class="project-details-grid">
    <div class="frame-menu">
        <h2 class="text-center">Requirement</h2>
    </div>
    <div class="frame-content">
      <%= image_tag "screenshot-website" %>
    </div>
    <div class="frame-content">
      <%= image_tag "screenshot-website" %>
    </div>
        <div class="frame-menu">
        <h2 class="text-center">Challenge</h2>
    </div>
    <div class="frame-menu">
        <h2 class="text-center">Conclusion</h2>
    </div>
    <div class="frame-content">
      <%= image_tag "screenshot-website" %>
    </div>
</div>









